{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<body class="container my-5">

    <h1 class="mb-4">Latest News</h1>

    {% for item in news_list %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.headline }}</h5>
                        <p class="card-text">{{ item.body }}</p>
                        <p class="card-text">
                            <small class="text-muted">Published: {{ item.date }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endblock content %}

</body>

